[submodule "lightning"]
	path = lightning
	url = https://github.com/ElementsProject/lightning
[submodule "c-lightning-http-plugin"]
	path = c-lightning-http-plugin
	url = https://github.com/Start9Labs/c-lightning-http-plugin
[submodule "plugins"]
	path = plugins
	url = https://github.com/lightningd/plugins
[submodule "c-lightning-REST"]
	path = c-lightning-REST
	url = https://github.com/Ride-The-Lightning/c-lightning-REST
[submodule "clboss"]
	path = clboss
	url = https://github.com/ZmnSCPxj/clboss
[submodule "reckless"]
	path = reckless
	url = https://github.com/darosior/reckless
[submodule "circular"]
	path = circular
	url = https://github.com/giovannizotta/circular
