[submodule "plugins"]
	path = plugins
	url = https://github.com/lightningd/plugins
[submodule "clboss"]
	path = clboss
	url = https://github.com/ZmnSCPxj/clboss
[submodule "rust-teos"]
	path = rust-teos
	url = https://github.com/talaia-labs/rust-teos
